* {
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
}

div.col-sm-6 {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 5px 40px;
  position: relative;
}
i.fa {
  display: block;
  width: 100%;
  font-size: 50px;
}
small {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: #eee;
  width: 40px;
  height: 40px;
  border: 2px solid #d6d6d6;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
small::before {
  content: "ver.";
  
}
span.text-muted {
  display: block;
  margin-top: 5px;
}
